.Rhistory
.DS_store

EPSA 2021/Abrechnung/
EPSA 2021/Proposal/
Manuscript/
Literature/
Eurostat Datasets/

Dynamic Pie Group/Juhl_SEA.pdf

Shapefile/Eurostat/

EurostatData.R
GermanyShapefile.R
Sandbox.R